<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="css/style.css" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
        <script type="text/javascript" src="js/backbone.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </head>
    <body>
        <div id="menu"> 
            <ul>
                <li><a href="#!/">Start</a></li>
                <li><a href="#!/success">Success</a></li>
                <li><a href="#!/error">Error</a></li>
            </ul>
        </div>

        <div id="block" class="block"></div>
        
        <script type="text/template" id ="start">
            <div class="start">
                <div class="userplace">
                    <label for="username">Name of user: </label>
                    <input type="text" id="username" value="<%= username %>"/>
                </div>
                <div class="buttonplace">
                    <input type="button" value="Press" />
                </div>
            </div>
        </script>
        
        <script type="text/template" id ="error">
            <div class="error">
                <p>
                    Fail, my dear <%= username %>
                </p>
                <a href="#!/">Go back</a>
            </div>
        </script>
        
        <script type="text/template" id ="success">
            <div class="success">
                <p>
                    Success, my super <%= username %>
                </p>
                <a href="#!/">Go back</a>
            </div>
        </script>
        
    </body>
</html>
